Lava Class Scratch Pad



{{ CurrentPerson.NickName }}'s email is {{ CurrentPerson.Email }}

{{ CurrentPerson.LastName | Right:4 }}

{% capture statusMessage %}
	Working...<br />

	{% assign progress = '25' %}
	{{ progress }}% complete<br />

	{% assign animal = 'Octopus' %}
	{% assign progress = '50' %}
	{{ progress }}% complete<br />

	{% assign number = 5 | Random %}
	{% assign progress = '75' %}
	{{ progress }}% complete<br />
{% endcapture %}

{{ statusMessage }}


{% for campus in Campuses %}
	{{ campus.Name }}
	{% if forloop.last == false %}, {% endif %}
{% endfor %}


{% person where:'Position *= "Pastor"' %}
	<ul>
		{% for person in personItems %}
			<li>{{ person.FullName }}: {{ person | Attribute:'Position' }}</li>
		{% endfor %}
	</ul>
	{% endperson %}

{% person dataview:'1' Sort:'LastName' %}
<h3>Members and Attendees</h3>
<ul>
	{% for person in personItems %}
		<li>{{ person.FullName }}</li>
	{% endfor %}
</ul>
{% endperson %}


{% assign sortedCampuses = Campuses | Shuffle %}
<ul>
    {% for campus in sortedCampuses %}
        <li>
            {{ campus.Name }} Campus
        </li>
    {% endfor %}
</ul>


{% assign currentYear = 'Now' | Date:'yyyy' %}
{{ currentYear }}
{% for i in (2022..currentYear) %}
	{{ i }}
{% endfor %}
